.header-container {
  display: grid;
  width: 100%;
  min-width: 320px;
  padding: 24px;
  position: relative;
  grid-template-columns: 2fr 4fr;
  height: max-content;
  max-height: 120px;
  font-weight: var(--bold);
  color: var(--neutros-600);
  box-shadow:
      0px 1.1px 2.2px rgba(0, 0, 0, 0.02),
      0px 2.7px 5.3px rgba(0, 0, 0, 0.028),
      0px 5px 10px rgba(0, 0, 0, 0.035),
      0px 8.9px 17.9px rgba(0, 0, 0, 0.042),
      0px 16.7px 33.4px rgba(0, 0, 0, 0.05),
      0px 35px 80px rgba(0, 0, 0, 0.07);
}

.header-container .logo-container {
  align-self: center;
  justify-self: center;
  width: 100%;
}

.header-container img {
  width: 200px;
}

.header-container .nav-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.nav-container .nav-links {
  display:  none;
  color: var(--black);

}


@media screen and (min-width: 660px) {
  .nav-container .nav-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    color: var(--black);
    font-size: var(--paragraph-tablet);
    transition: 0.3s linear;
  }
  
  .nav-link:hover {
    color: var(--neutros-300); 
  }

  .button-sign-in {
    margin-left: 24px;
    font-size: var(--paragraph-tablet);
  }
}
