<header class="header-container">
  <div 
    class="logo-container" 
    routerLink="/" 
    routerLinkActive="page" 
    ariaCurrentWhenActive="page"
  >
    <img src="../../../assets/images/logo.png" alt="logo-survey-app" />
  </div>

  <div class="nav-container">
    <div class="nav-links">    
      <a 
        class="nav-link" 
        *ngFor="let data of dataLinks" 
        href={{data.link}}
      > {{data.name}}</a>

      <app-sign-up-button text="Inscreva-se" to="/log-in"></app-sign-up-button>
    </div>
    <app-button-menu (click)="toggleCurtainMenu()"/>
  </div>
  <app-curtain-menu [isOpen]="isOpeCurtainMenu" (close)="toggleCurtainMenu()"/>
</header>
