<div id="login-page">
  <form class="login">
    <h1>Entrar</h1>
    <div class="social-media-container">
      <a href="" class="icon-link"><img src="../../../assets/images/apple-icon.svg" alt=""></a>
      <a href="" class="icon-link"><img src="../../../assets/images/google-icon.svg" alt=""></a>
    </div>

    <p>Ou entre com um e-mail</p>
    <div class="input-wrapper"> 
      <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
    </div>

    <div class="input-wrapper"> 
      <input type="password" name="password" id="password" placeholder="Digite uma senha">
    </div>
  </form>

  <button type="submit" class="btn-submit" > Entrar </button>
</div>
