<div id="sign-up-page">
  <form class="sign-up">
    <h1>Crie sua conta</h1>
    <div class="social-media-container">
      <a href="" class="icon-link"><img src="../../../assets/images/apple-icon.svg" alt=""></a>
      <a href="" class="icon-link"><img src="../../../assets/images/google-icon.svg" alt=""></a>
    </div>

    <p>Ou registre-se com um e-mail</p>
    <div class="input-wrapper">   
      <input type="text" name="name" id="name" placeholder="Digite seu Nome">
    </div>

    <div class="input-wrapper"> 
      <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
    </div>

    <div class="input-wrapper"> 
      <input type="password" name="password" id="password" placeholder="Digite uma senha">
    </div>

    <div class="input-wrapper"> 
      <input type="password" name="password" id="confirm-password" placeholder="Repita sua senha">
    </div>
  </form>

  <button type="submit" class="btn-submit" > Cadastrar </button>
</div>